#root {
    background-color: #eeeeee;
}

.analytics {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
  
    border: 1px solid #f1f1f1;
    background-color: #fdfdfd;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
    width: 80%;
    right: -10%;
    padding-left: 24px;
    padding-right: 24px;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
}

.horizontalContainer > div {
    margin: 5px;
}

.chart {
    width:47.5%;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 24px;
}

.bar {
    height: 400px;
}

.doughnut {
    height: 400px;
}

.right {
    position: absolute;
    right: 24px;
}

.wide {
    width: 100% !important;
}

h5 {
   text-align: center; 
}