.auction-body{
    /* margin-top: 30px; */
    display: grid;
}

.auction-title{
    display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.title-area{
    border: 1px solid white;
    height: 10vh;
    padding-left: 10px;
    padding-top: 4px;
}

.atitle{
    width:60vw;
    color: black;
}

.ahost{
    width:12vw;
    padding-top: 5px;
    text-align: center;
}

.aaudience{
    width:10vw;
}

.auction-main{
    display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

.auction-area{
    border: 1px solid white;
    height: 90vh;
}

.preview-area{
    width:20vw;
    display: grid;
    grid-template-rows: 50px;
}

.preview-title{
    text-align: center;
    
}

.livestream-area{
    width: 50vw;
    display: grid;
    grid-template-rows: 680px;
    
}

.livestream-area > div{
    border: 1px solid white;
}

.chat-area{
    width: 20vw;
}

.preview-img-set{
    width:100%;
    overflow:hidden; overflow-y:scroll;
    
}

.preview-img > li{
    text-align: center;
    
}

.preview-img{
    border: 2px solid white;

}

.auction-preview-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-img-unsold{
    border: 2px solid black;
}

.preview-img-onselling{
    border: 2px solid lightgreen;
}

.preview-img-sold{
    border: 2px solid red;
}

.preview-img-set > ul > li > p{
    font-style: bold;
}

.preview-img{
    margin: 5px;
}

.auction-currentitem{
    display: grid;
    margin-top: 20px;
    
}

.auction-currentitem-description{
    /* width: 300px; */
    text-align: center;
}

.auction-currentitem-description > ul > li{
    /* width: 300px; */
    font-size: 20px;
}

.auction-currentitem-img{
    text-align: center;
}

.auction-controller-host{
    margin-top: 15px;
    display: grid;
    text-align: center;
}

.auction-controller-audience{
    margin-top: 15px;
    display: grid;
    text-align: center;
}

.auction-bid-btn{
    background-color: lightgreen;
}

.auction-bid-btn:hover{
    background-color: green;
}

.auction-btn{
    margin: 5px;
}

.auction-chat-unsignedin{
    margin-top: 50%;
    text-align: center;
    padding: 10px;
}

.auction-controlbox-unsignedin{
    margin-top: 2%;
    text-align: center;
    padding: 10px;
}

.auction-tags{
    float: left;
    margin-left: 3px;
    padding: 1px;
    border: 1px solid;
    border-radius: 100px;
    font-size: 14px;
    padding: 4px 9px 4px 9px;
    background-color: #dedede;
    border-color: #bbb;
    margin-bottom: 5px;
    color: black;
    margin-top: 10px;
}