
.registered-message{
  color:green;
  text-align: center;
  border: 1px solid green;
  margin: auto;
  width: 35%;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login > h1{
        text-align: center
    
    }
    
  }