.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 85%;
  font-size: 1.0em;
  word-break: break-all;
  word-wrap: break-word;
  resize: none;

}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 15%;
}