.event-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    font-size: 0;
}

/* Grid */
.event-frame{
    padding: 1px;
    margin: 0px;
    margin-left: 10px;
    font-size: 0;
    align-items: center;
    
}

/* .event-frame > div{
    display: flex;
    align-items: center;
    font-size: 18px;
    float: left;
} */

.event-img{
    width: 400px;
    height: 220px;
}

.zone {
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:1em;
    border-radius:0px;
    border:0px solid #bbb;
    transition: all 0.3s linear;
}

.box > img {
    width: 100%;
}

.box{
    background-color: #444;
    width: 400px;
    height: 400px;
    /* padding: 130px;
    margin: 20px; */
}

.card-body{
    background-color: #444;
}

.event-img-set{
    width: 160px;
    height: 100px;
}