.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50vh; */
    margin-top: 45px;
  }

/* .slideshow-img{
  width: 150;
  height: 300px;
}

.slideshow-img:hover{
    transform: scale(1.5);
    transition: all .7s ease-in-out;
  }

  .carousel {
    width:900px;
    height:500px;
    margin: auto;
  }

============================================== */

.slideshow-img-size{
  width: 800px;
  height: 400px;
}

.carousel-cus-size{
  width: 800px;
  height: 420;
}

.slideshow-title {
  text-shadow: 2px 2px 3px black, 0 0 2em black, 0 0 0.4em black, 5px 5px 0.4em black;
  color: white !important;
}

.slideshow-host {
  text-shadow: 2px 2px 3px black, 0 0 2em black, 0 0 0.4em black, 5px 5px 0.4em black;
  color: white !important;
}