USE [liveart_dg]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/11/2021 7:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[latitude] [numeric](10, 7) NOT NULL,
	[longitude] [numeric](12, 7) NOT NULL,
	[street_num] [varchar](5) NOT NULL,
	[street_name] [varchar](30) NULL,
	[city] [varchar](17) NOT NULL,
	[province] [varchar](25) NOT NULL,
	[postal_code] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[latitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([latitude], [longitude], [street_num], [street_name], [city], [province], [postal_code]) VALUES (CAST(42.2352645 AS Numeric(10, 7)), CAST(-82.9930260 AS Numeric(12, 7)), N'719', N'Alpenrose Court', N'Windsor', N'Ontario', N'N9G 3E5')
INSERT [dbo].[Address] ([latitude], [longitude], [street_num], [street_name], [city], [province], [postal_code]) VALUES (CAST(42.2416141 AS Numeric(10, 7)), CAST(-82.9934095 AS Numeric(12, 7)), N'644', N'Lake Trail Drive', N'Windsor', N'Ontario', N'N9G 1X3')
INSERT [dbo].[Address] ([latitude], [longitude], [street_num], [street_name], [city], [province], [postal_code]) VALUES (CAST(42.2577700 AS Numeric(10, 7)), CAST(-82.9937295 AS Numeric(12, 7)), N'526', N'Bedford Street', N'Windsor', N'Ontario', N'N9G 1X3')
GO
